html
	head
		script.
			const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};
		script(src='https://wow.zamimg.com/widgets/power.js')
	body
		ul
			each url in urls
				li 
					a(href=url) URL